<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dictionary</title>
<link rel="shortcut icon" href="{{url_for('static',filename='images/logo.jpg')}}">
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">
<!-- CSS styling -->
<link rel="stylesheet" type= "text/css" href="{{url_for('static',filename='css/styles.css')}}">
<!-- Fontawesome link -->
<script src="https://kit.fontawesome.com/f166265a6f.js" crossorigin="anonymous"></script>
</head>

<body>
    <section class="container">
        <h1>Welcome to your English dictionary online!</h1>
        <div class="container-fluid">
            <form action="/" method="post">
                <input type="text" name="word" placeholder="Type your word" required autofocus>
                <button type="submit" class="btn btn-primary">Get definition!</button>
            </form>
            {% if results: %}
                <div class="container-fluid2">
                    <div class="row">
                        <div class="col-2">
                            <h4>Word:</h4>
                        </div>
                        <div class="col-10">
                            <h5>{{ word }}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <h4>Type:</h4>
                        </div>
                        <div class="col-10">
                            <h5>{{ results['type'] }}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <h4>Definition:</h4>
                        </div>
                        <div class="col-10">
                            <h5>{{ results['definition'] }}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <h4>Example:</h4>
                        </div>
                        <div class="col-10">
                            <h5>{{ results['example'] }}</h5>
                        </div>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </section>